:root {
  --color-primary-dark: black;
  --color-primary-light: white;
  --color-test: #d9d9d9;
}

/* base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  margin: 0;
  padding: 0 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

.section {
  padding: 60px 0;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

/* banner */
.hero-section {
  padding-top: 300px;
  padding-bottom: 72px;
}

.hero-title {
  color: var(--color-test);
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.hero-text {
  color: var(--color-test);
  margin-bottom: 40px;
  font-family: "Lora", serif;
  font-weight: 400;
}

.and {
  text-transform: none;
}

/* link */
.link {
  color: var(--color-primary-dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  color: #d9d9d9;
}

/* titles */
.section-title {
  color: var(--color-primary-dark);
  font-family: "Lora", serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.section-sub-title {
  color: var(--color-primary-dark);
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

/* buttons */
.button {
  color: var(--color-primary-dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/*HEADER*/
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 100px;
  flex-grow: 1;
  justify-content: flex-end;
}

/* trips section */
.trips-section {
  padding-top: 120px;
}

.trips-title {
  margin-bottom: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.trips-text {
  margin-bottom: 120px;
  padding: 0 200px;
  font-family: "Hind Murai", sans-serif;
  font-weight: 300;
  text-align: center;
}

.trips-more {
  text-decoration: underline;
  text-align: center;
}

/* blog section */
.blog-text {
  margin-bottom: 24px;
}

.blog-title {
  margin-bottom: 96px;
}

.blog-post-sub-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.blog-post-title {
  font-family: "Lora", serif;
  font-weight: 400;
}

.blog-post-text {
  font-family: "Lora", serif;
  font-weight: 400;
}

.blog-content-text {
  text-align: center;
}

.blog-content-left {
  display: flex;
  align-items: center;
  gap: 100px;
}

.blog-content-right {
  margin-top: 122px;
  margin-bottom: 122px;
  display: flex;
  align-items: center;
  gap: 100px;
  flex-direction: row-reverse;
}

/* about section */
.about-title {
  color: #f9f9f9;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 190px;
  text-transform: uppercase;
  text-align: center;
}

.about-text-bold {
  margin-bottom: 56px;
  font-family: "Motserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
}

.about-text-regular {
  font-family: "Hind Murai", serif;
  font-weight: 400;
}

.about-content-right {
  display: flex;
  justify-content: center;
  gap: 130px;
  align-items: center;
}

.about-content-text {
  width: 370px;
}

/* contacts section */
.contacts-title {
  margin-bottom: 96px;
}

/* footer */
.footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
}
