.adress-container {
  display: flex;
  gap: 100px;
}

.address-icons-text {
  display: flex;
  align-items: center;
  gap: 16px;
}

.adress-contacts-icons {
  display: flex;
  flex-direction: column;
}

.adress-contacts-text {
  display: flex;
  flex-direction: column;
}

.adress-column-second {
  flex: auto;
}

.address-social-icons {
  display: flex;
  gap: 16px;
}

.adress-contacts {
  margin-bottom: 24px;
}

.adress-contacts:first-child {
  margin-top: 10px;
}

.address-text {
  margin-bottom: 28px;
  font-family: "Montserrat";
  font-size: 18px;
}

.address-text:last-child {
  margin-bottom: 14px;
}

.contacts-title {
  margin-bottom: 96px;
}