.trips-section {
  padding-top: 120px;

  &__title {
    margin-bottom: 56px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  &__text {
    margin-bottom: 120px;
    padding: 0 200px;
    font-family: "Hind Murai", sans-serif;
    font-weight: 300;
    text-align: center;
  }

  &__list {
    margin: 0 0 72px 0;
  }

  &__image {
    width: 350px;
  }

  &__cards {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__image-link {
    position: relative;
    transition: transform 0.3s;
  }

  &__image-link:hover {
    transform: scale(1.05);
  }

  &__more-container {
    display: flex;
    justify-content: center;
  }

  &__more {
    text-decoration: underline;
    text-align: center;
  }
}

.button.trips {
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}
