.about-section {
  &__content {
    &--right {
      display: flex;
      justify-content: center;
      gap: 130px;
      align-items: center;
    }
  }

  &__text {
    margin-bottom: 24px;

    &--bold {
      margin-bottom: 56px;
      font-family: "Motserrat", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 22px;
    }

    &--regular {
      font-family: "Hind Murai", serif;
      font-weight: 400;
    }
  }

  &__title {
    margin-bottom: 96px;
  }

  &__content-text {
    width: 370px;
  }
}

.about-title {
  color: #f9f9f9;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 190px;
  text-transform: uppercase;
  text-align: center;
}
