.blog-section {
  &__content-left {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  &__content-text {
    text-align: center;
  }

  &__post-sub-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__post-title {
    font-family: "Lora", serif;
    font-weight: 400;
  }

  &__post-text {
    font-family: "Lora", serif;
    font-weight: 400;
  }

  &__arrow:hover {
    fill: var(--color-secondary-light);
  }

  &__text {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 96px;
  }

  &__content-right {
    margin-top: 122px;
    margin-bottom: 122px;
    display: flex;
    align-items: center;
    gap: 100px;
    flex-direction: row-reverse;
  }
}
