.contacts-section {
  &__title {
    margin-bottom: 96px;
  }

  &__adress-container {
    display: flex;
    gap: 100px;
  }

  &__address-icons-text {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__adress-contacts {
    margin-bottom: 24px;
  }

  &__adress-contacts:first-child {
    margin-top: 10px;
  }

  &__adress-contacts-icons {
    display: flex;
    flex-direction: column;
  }

  &__adress-contacts-text {
    display: flex;
    flex-direction: column;
  }

  &__address-text {
    margin-bottom: 28px;
    font-family: "Montserrat";
    font-size: 18px;
  }

  &__address-text:last-child {
    margin-bottom: 14px;
  }

  &__address-social-icons {
    display: flex;
    gap: 16px;
  }

  &__adress-column {
    &--second {
      flex: auto;
    }
  }
}
